---
layout: default
---
<div class="entries" id="post-list">
  {%- assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" -%}
  {%- assign newest_year = site.posts.first.date | date: '%Y' -%}
  {%- for group in posts_by_year -%}
  <div class="year-head">
    <span class="year-num{% if group.name != newest_year %} past{% endif %}">{{ group.name }}</span>
    <span class="year-rule"></span>
    <span class="year-count">{{ group.items | size }}편</span>
  </div>
  {%- for post in group.items -%}
  <a class="entry" href="{{ post.url | relative_url }}">
    <time class="entry-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%m.%d" }}</time>
    <span class="entry-body">
      <span class="entry-title">{{ post.title }}</span>
      {%- if post.excerpt -%}
      <span class="entry-ex">{{ post.excerpt | strip_html | strip_newlines | truncate: 84 }}</span>
      {%- endif -%}
    </span>
    <span class="entry-arrow" aria-hidden="true">→</span>
  </a>
  {%- endfor -%}
  {%- endfor -%}
</div>
